@using LibrariaProjekt.Server.Models
@model List<Review>
@{
    Layout = "_Layout";
}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>BookId</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Id</td>
                    <td>@entry.UserId</td>
                    <td>@entry.BookId</td>
                    <td>@entry.Rating</td>
                    <td>@entry.Comment</td>
                    <td>
                       
                        <a asp-controller="Review" asp-action="Delete" asp-route-id="@entry.Id" class="btn btn-danger col-xs-3">Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
