@using LibrariaProjekt.Server.Models
@model List<Admin>
@{
    Layout = "_Layout";
}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Id</td>
                    <td>@entry.Name</td>
                    <td>@entry.Email</td>
                    <td>@entry.Password</td>
                    <td>
                      
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@entry.Id" class="btn btn-danger col-xs-3">Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
